@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
body {
	margin: 0;
	font-family: Helvetica;
}

html {
	scroll-behavior: smooth;
}

.bg-think-blue {
	background: #00477B;
}

.bg-light-blue {
	background: #8DD5FE !important;
}

.text-color-white {
	color: #FFFFFF;
}

.page-container {
	margin: 0 auto;
}

.content-wrapper {
	max-width: 750px;
	margin: 0 auto;
	position: relative;
}

header {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 40px;
	color: #FFFFFF;
}

.header-wrapper {
	display: flex;
	padding: 10px;
}

.header-wrapper .page-title {
	width: 100%;
	text-align: center;
}

.header-wrapper .page-logo {
	font-weight: 600;
	word-break: keep-all;
	width: 10%;
}

.hero-panel {
	height: 500px;
	width: 100%;
	position: relative;
	background-image: url('../../images/heroimage.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	z-index: 1;
	margin: auto;
	color: #FFFFFF;
}

.hero-panel .content-wrapper {
	position: relative;
	top: 35%;
}

.hero-panel .eyebrow {
	background: #FFFFFF;
	color: #222222;
	padding: 5px;
}

.hero-panel a {
	color: #FFFFFF;
}

.hero-panel .copy {
	font-size: 48px;
	color: #222222;
	font-weight: 600;
	background: #FFFFFF;
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
}

section.section-top-transform {
	position: relative;
	padding: 5em 10% 6em;
}

section.section-top-transform:before {
	background: #FFFFFF;
	top: 0;
	content: '';
	display: block;
	height: 6.2em;
	left: 0;
	position: absolute;
	right: 0;
	transform: skewY(1.75deg);
	transform-origin: 100%;
	z-index: 2;
}

.three-column-layout,
.two-column-layout {
	display: flex;
}

.two-column-layout .column {
	padding: 0;
	text-align: left;
	width: 50%;
}

.two-column-layout .column:last-child {
	padding-left: 20px;
	border-left: 1px solid #8DD5FE;
	font-size: 20px;
}


.column {
	padding: 0 20px;
	text-align: center;
}

.annual-spend {
	font-size: 48px;
	color: #00477B;
	font-weight: 600;
}

.annual-spend .money {
	font-size: 100px;
}

.annual-spend .b {
	font-size: 20px;
}

.label {
	margin: 30px 0 20px 0;
	font-weight: 600;
}

.section-2:before {
	background: #00477B !important;
}

.section-2 .text-content {
	padding-bottom: 10px;
}

.section-2 a {
	color: #FFFFFF;
	cursor: pointer;
}

.section-5 {
	background-image: url('../../images/ship.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 350px;
}

.section-5:before {
	background: #FFFFFF;
}
.section-2 img {
	height: 75px;
	width: 75px;
}
.section-5 img {
	position: absolute;
	right: -80px;
	width: 60%;
}

.scroll-to-top {
	text-align: center;
	margin: 10px 0;
}

.scroll-to-top i {
	font-size: 36px;
	cursor: pointer;
}

.scroll-to-top p {
	margin: 10px 0;
}

.show-on-scroll {
	transition: transform 4s .25s cubic-bezier(0, 1, .3, 1), opacity .3s .25s ease-out;
	opacity: 0;
}

.show-on-scroll.is-visible {
	opacity: 1;
}

@media screen and (max-width: 767px) {
	.content-wrapper {
		width: 90%
	}
	.header-wrapper .page-title {
		display: none;
	}
	.three-column-layout,
	.two-column-layout {
		flex-wrap: wrap;
	}
	.two-column-layout .column {
		width: 100%;
	}
	.two-column-layout .column:last-child {
		padding-top: 20px;
		border-top: 1px solid #8DD5FE;
		border-left: none;
		padding-left: 0;
	}
	.section-5 {
		height: 150px;
	}
	.section-5 img {
		right: -25%;
		width: 80%;
	}
	section.section-top-transform {
		padding: 3em 10% 6em;
	}
	section.section-top-transform:before {
		height: 4rem;
	}
	.header-wrapper .page-logo {
		width: 100%;
	}
	span.nav-menu {
		position: absolute;
		right: 0;
		padding: 0 10px;
	}
}